<%= simple_form_for @config_template do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, :autofocus => true, :required => true %>
    <%= f.association :program %>
    <%= f.fields_for :fields do |builder| %>
      <%= render 'field_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Field", f, :fields %>
  </div>

  <%= f.button :submit %>
<% end %>
