<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @config_template.name %>
</p>
<pre>
<% filepath = Rails.root.join('config_templates', @config_template.name.gsub(/ /, '_')).to_s %>
<%= render :file => filepath %>
</pre>

<%= link_to 'Edit', edit_config_template_path(@config_template),
  class: 'btn btn-mini' %>
<%= link_to 'Back', admins_path, class: 'btn btn-mini' %>
