<%= simple_form_for @conf, :url => user_conf_path(@conf.user_id,@conf) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :config_template_id %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.fields_for :properties, OpenStruct.new(@conf.properties) do |builder| %>
      <% @conf.config_template.fields.each do |field| %>
        <% unless field.separator? %>
          <%= render "confs/fields/#{field.param_type}", field: field, f: builder %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
