<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conf.name %>
</p>

<% @conf.properties.each do |name, value| %>
  <p>
  <b><%= name.humanize %>:</b>
  <%= value %>
  </p>
<% end %>

<%= render 'view_file' %>
<%= link_to 'Edit', edit_user_conf_path(@conf.user_id,@conf), :class => 'btn btn-mini' %>
<%= link_to 'Back', root_url, :class => 'btn btn-mini' %>
