<div class="accordion-group"> <!-- Programs Index -->
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
      Programs
    </a>
  </div> <!-- accordion heading -->
  <div id="collapseFour" class="accordion-body collapse">
    <div class="accordion-inner">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>Folder-specific?</th>
            <th>Type</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @programs.each do |program| %>
            <tr>
              <td><%= program.name %></td>
              <td><%= program.created_at.to_date %></td>
              <td><%= program.folder_specific ? "True" : "False" %></td>
              <td><%= program.folder_specific ? program.dyna_type.upcase : "-" %></td>
              <td><%= link_to 'Toggle', toggle_program_path(program),
                method: :post, id: program.id, 
                class: 'btn btn-mini' %></td>
              <td><%= link_to 'Change Type', change_type_program_path(program),
                method: :post, id: program.id,
                class: 'btn btn-mini' %></td>
              <td><%= link_to 'Delete', program, 
                method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-mini' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- accordion-inner -->
  </div> <!-- accordion-body -->
</div> <!-- accordion-group -->
