<% content_for :title do %>Administrator's Dashboard<% end %>
<% content_for :description do %>Administrative Actions<% end %>

<div class='page-header'>
  <h1>Administrative Dashboard</h1>
  <h3>
    Welcome <%= @user.user_id %>, <small>it is now <%= Time.now.asctime %></small>
  </h3>
  <%= link_to 'New Template', new_config_template_path,
    :class => 'btn btn-mini' %> | 
  <%= link_to 'New Server', new_server_path, :class => 'btn btn-mini' %>
</div>

<div class="span10">
  <div class="accordion" id="accordion1">
    <%= render 'users' %>
    <%= render 'servers' %>
    <%= render 'templates' %>
    <%= render 'programs' %>
  </div> <!-- accordion -->
</div>
