<h2>Create Job</h2>
<%= simple_form_for [@user, @job] do |f| %>
  <%= f.error_notification %>
  <%= f.input :server_id, :collection => Server.all, 
              :label_method => :name,
              :value_method => :id %>
  <%= f.association :program %>
  <% user_dir = Rails.root.join('u', @user.user_id).to_s %>
  <% pattern = File.join(user_dir, '*') %>
  <% inputs = Dir.glob(pattern).map { |f| File.basename(f) } %>
  <%= f.input :input, :collection => inputs %>
  <%= f.input :description, as: :text, 
    :input_html => {style: 'height:40px;' }%>
  <%= f.input_field :status, :as => :boolean, 
    :inline_label => 'Start now?' %>
  <%= f.button :submit %>
<% end %>
