<div class="accordion-group"> <!-- Job Queue -->
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
      Job Queue
    </a>
  </div> <!-- accordion heading -->
  <div id="collapseOne" class="accordion-body collapse-in">
    <div class="accordion-inner">
      <% if @user.jobs.empty? %>
        No jobs scheduled
      <% else %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Server</th>
              <th>Program</th>
              <th>Input</th>
              <th>Description</th>
              <th>Status</th>
              <th>Started at</th>
              <th>Completed?</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.jobs.each do |job| %>
              <tr>
                <td><%= job.server ? job.server.name : "No server defined" %></td>
                <td><%= job.program ? job.program.name : "No program defined" %></td>
                <td>
                  <% if job.program.folder_specific %>
                    <% userfile = Userfile.find(job.input) %>
                    <%= userfile.upload_file_name %>
                  <% else %>
                    <%= job.input ? File.basename(job.input) : "No input defined" %>
                  <% end %>
                </td>
                <td><%= job.description ? job.description : "" %></td>
                <td><%= job.status ? "Running" : "Stopped" %></td>
                <td><%= job.created_at.to_date %></td>
                <td><%= job.completed ? "True" : "False" %></td>
                <td>
                  <% if job.status %>
                    <%= link_to 'Delete job', user_job_path(@user, job),
                      :data => { :confirm => 'Are you sure?' }, 
                      :method => :delete, :class => 'btn btn-mini' %>
                  <% elsif !job.completed %>
                    <%= link_to 'Start job', run_user_job_path(@user, job),
                      :method => :post, :id => job.id, :user_id => @user.id,
                      :class => 'btn btn-mini' %>
                  <% end %>
                </td>
                <td></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div> <!-- accordion-inner -->
  </div> <!-- accordion-body -->
</div> <!-- accordion-group -->
