<%= simple_form_for [@user, Userfile.new], :html => { :multiple => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :upload %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.input :name, :label => 'Notes' %>
    <%= f.association :type, collection: ConfigTemplate.all,
      label_method: :name, value_method: :id, include_blank: true,
      label: 'Template', :required => true %>
  </div>
  <%= f.button :submit, "Upload" %>
<% end %>
