<div class="accordion-group"> <!-- User Uploaded Files -->
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
      Uploaded Files
    </a>
  </div> <!-- accordion heading -->
  <div id="collapseThree" class="accordion-body collapse-in">
    <div class="accordion-inner">
      <% if @user.userfiles.empty? %>
        No files on server
      <% else %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td>Filename</td>
              <td>Uploaded at</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @user.userfiles.each do |userfile| %>
              <tr>
                <td><%= userfile.name %></td>
                <td><%= userfile.created_at.to_date %></td>
                <td><%= link_to 'Show', userfile,
                  class: 'btn btn-mini' %></td>
                <td><%= link_to 'Edit', 
                  edit_user_userfile_path(@user, userfile), 
                  class: 'btn btn-mini' %></td>
                <td><%= link_to 'Delete', userfile, 
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'btn btn-mini' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div> <!-- accordion-inner -->
  </div> <!-- accordion-body -->
</div> <!-- accordion-group -->
