<% content_for :title do %>Steelers- Home<% end %>
<% content_for :description do %>User home page<% end %>

<h3>Logged in as: <%= link_to @user.user_id, user_path(@user) %></h3>
<p>Current time: <%= Time.now %></p>

<%= simple_form_for [@user, Userfile.new] do |f| %>
  <%= f.label :userfile, "Upload Files:" %>
  <%= f.file_field :userfile %>
<% end %>

<div class="span8">
  <div class="accordion" id="accordion1">
    <%= render 'job_queue' %>
    <%= render 'log_queue' %>
    <%= render 'user_files' %>
  </div> <!-- accordion -->
</div>
