<% content_for :title do %>Steelers- Home<% end %>
<% content_for :description do %>User home page<% end %>

<div class='page-header'>
  <h3>
    Logged in as: <%= link_to @user.user_id, user_path(@user) %>
  </h3>
  <p>Current time: <%= Time.now.asctime %></p>
  <%= link_to 'New Job', home_job_landing_path(),
    :class => 'btn btn-mini' %> | 
  <%= link_to 'New Upload', home_new_upload_path(),
    :class => 'btn btn-mini' %>
</div>

<div class="span10">
  <div class="accordion" id="accordion1">
    <%= render 'job_queue' %>
    <%= render 'configs' %>
    <%= render 'log_queue' %>
    <%= render 'upload_index' %>
  </div> <!-- accordion -->
</div>

<div class="span10">
  <hr>
</div>
