<h2>Create Job</h2> <!-- NON LS DYNA JOBS -->
<%= simple_form_for [@user, @job] do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :folder_specific, :value => false %>
  <%= f.input :server_id, :collection => Server.all, 
              :label_method => :name,
              :value_method => :id %>
  <% programs = Program.all.find_all { |p| !p.folder_specific } %>
  <%= f.input :program, :collection => programs %>
  <% inputs = @user.confs.map { |f| f.name } %>
  <%= f.input :input, :collection => inputs %>
  <%= f.input :description, as: :text, 
    :input_html => {style: 'height:40px;' }%>
  <%= f.input_field :status, :as => :boolean, 
    :inline_label => 'Start now?' %>
  <%= f.button :submit %>
<% end %>
